body,
html {
  height: 100%;
  margin: 0px;
}

.bg {
  background-image: url("background.png");
  height: 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.bg:before {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  /*background-image: linear-gradient(to bottom right,#002f4b,#dc4225);*/
  background-color: rgba(0, 0, 0, 0.1);
}

.content {
  position: relative;
  display: flex;
  flex-direction: column;
  float: right;
  height: 100%;
  width: 50%;
  justify-content: center;
}

.name {
  font-family: "proxima-nova", sans-serif;
  font-weight: 600;
  letter-spacing: 0.14em;
  text-transform: uppercase;
  font-size: xxx-large;
  color: #fafafa;
}

.tag {
  font-family: "Roboto Condensed", sans-serif;
  font-weight: 300;
  color: #bdbdbd;
  margin: 0;
}

.link {
  font-family: "Roboto";
  font-weight: 500;
  font-size: small;
  text-decoration: none;
  text-transform: uppercase;
  color: #fafafa;
  margin-top: 18px;
  margin-bottom: 18px;
}

.link:hover {
  color: #bdbdbd;
}

.icons {
  display: flex;
  flex-direction: row;
}

.icon {
  width: 48px;
  height: 48px;
}

.icon-svg {
  fill: #fafafa;
  pointer-events: bounding-box;
}

.icon-svg:hover {
  fill: #bdbdbd;
}

#child {
  margin-left: 10%;
  width: fit-content;
}

@media (max-width: 700px) {
  .content {
    width: 100%;
  }
}

/**
// Tooltip text
.icon-container .tooltip {
  visibility: hidden;
  width: 120px;
  background-color: rgba(0, 0, 0, 0.5);
  font-family: "Roboto";
  font-weight: 500;
  font-size: small;
  text-decoration: none;
  text-transform: uppercase;
  color: #fafafa;
  text-align: center;
  padding: 5px 0;
  border-radius: 6px;

  // Position the tooltip text - see examples below!
  position: absolute;
  top: 24px;
  right: 0;
  z-index: 1;
}

// Show the tooltip text when you mouse over the tooltip containe
.icon-container:hover .tooltip {
  visibility: visible;
}
*/
